@import "swiper/css";
@import "swiper/css/navigation";
/* @import "swiper/css/pagination"; */
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";
@import "swiper/css/effect-creative";

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}
.c-pointer {
  cursor: pointer;
}
li.monthdate.current_date {
  background: rgb(2, 84, 139);
  color: rgb(255, 255, 255) !important;
}
.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: 0.8s 1s ease;
  z-index: 666;
}
.loader-wrapper .loder-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  background: #111;
  z-index: 89;
}
.meanmenu-reveal {
  text-align: center;
  text-indent: 0px !important;
  font-size: 18px !important;
}
.landing_header nav.consen_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    font-size: 1.3rem;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
